<style>
* {
	box-sizing: border-box;
	
}
h1 {
	text-align: center;
	font-weight: bold;
}
.box{
	border: 1px solid black;
	background-color: grey;
	margin-bottom:15px;
	padding:0px;
	width:100%;
	margin-left:0;

}
h3 {
	border:2px solid black;
	float :right;
	margin-top: 0;
	margin-right: 0;
	position:relative;
	clear:left;
	text-align: center;
   width:100px;
}
p {
	margin-top:0;
	color:white;
	font-style:serif;
	clear:right;
	padding:5px;
}
#p1 {
	background-color: #c71585;
}
#p2 {
	background-color: indianred;
}
#p3 {
	background-color: gold;
}
.row{
	width:100%;
}
/*desktop version*/
@media (min-width: 1200px) {
	.col-lg-1, .col-lg-2 , .col-lg-3, .col-lg-4 , .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float:left;
		padding:5px;
	}
	.col-lg-1 {
		width:8.33%;
	}
	.col-lg-2 {
		width:16.66%;
	}
	.col-lg-3 {
		width:25%;
	}
	.col-lg-4 {
		width:33%;
	}
	.col-lg-5 {
		width:41.66%;
	}
	.col-lg-6 {
		width:50%;
	}
	.col-lg-7 {
		width:58.33%;
	}
	.col-lg-8 {
		width:66.66%;
	}
	.col-lg-9 {
		width:75%;
	}
	.col-lg-10 {
		width:83.33%;
	}
	.col-lg-11{
		width:91.66%;
	}
	.col-lg-12 {
		width:100%;
	}
}
	/*tablet*/
	@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1,.col-md-2 ,.col-md-3,.col-md-4 ,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
		float:left;
		padding:5px;
	}
	.col-md-1 {
		width:8.33%;
	}
	.col-md-2 {
		width:16.66%;
	}
	.col-md-3 {
		width:25%;
	}
	.col-md-4 {
		width:33%;
	}
	.col-md-5 {
		width:41.66%;
	}
	.col-md-6 {
		width:50%;
	}
	.col-md-7 {
		width:58.33%;
	}
	.col-md-8 {
		width:66.66%;
	}
	.col-md-9 {
		width:75%;
	}
	.col-md-10 {
		width:83.33%;
	}
	.col-md-11{
		width:91.66%;
	}
	.col-md-12 {
		width:100%;
	}
}
@media  (max-width: 767px) {
	.col-sd-1,.col-sd-2 ,.col-sd-3,.col-sd-4 ,.col-sd-5,.col-sd-6,.col-sd-7,.col-sd-8,.col-sd-9,.col-sd-10,.col-sd-11,.col-sd-12 {
		float:left;
		padding:5px;
	}
	.col-sm-1 {
		width:8.33%;
	}
	.col-sm-2 {
		width:16.66%;
	}
	.col-sm-3 {
		width:25%;
	}
	.col-sm-4 {
		width:33%;
	}
	.col-sm-5 {
		width:41.66%;
	}
	.col-sm-6 {
		width:50%;
	}
	.col-sm-7 {
		width:58.33%;
	}
	.col-sm-8 {
		width:66.66%;
	}
	.col-sm-9 {
		width:75%;
	}
	.col-sm-10 {
		width:83.33%;
	}
	.col-sm-11{
		width:91.66%;
	}
	.col-sm-12 {
		width:100%;
	}
}
